<div class="page-header">
  <h3>Campaign Analytics Summary: <%= params[:identifier] %> </h3>
</div>

<ul class="nav nav-tabs">
  <li> <a href="/sources/<%= params[:identifier] %>">Analytics Summary</a></li>
  <li class="active"><a href="#">Event Analytics</a></li>
  <li><a href="#">URL Analytics</a></li>
  <li> <a href="/sources/<%= params[:identifier] %>/campaigns">Campaigns</a></li>
</ul>



<div class="row">
  <div class="span8">

    <h5>Campaigns List</h5>

    <table class="table table-bordered table-striped">
      <th>Campaign Name</th>
      <th>Campaign Details Page</th>

      <% @array_of_names.each do |name| %>
      <tr>
        <td><%= name %></td>
        <td>
          <a href="/sources/<%= @identifier %>/campaigns/<%= name %>"><%= name %></a>
        </td>
      </tr>
      <% end %>

    </table>

  </div>
</div>



