<h2>Campaign Analytics Summary</h2>

<h3>Identifier: <%= @site.identifier %></h3>

<br/>
<p><a href="/sources/<%=@site.identifier%>">View Site Summary Analytics</a></p>
<p><a href="/sources/<%=@site.identifier%>/events">View Event Analytics</a></p>


<div class="row">
  <div class="span6">

   <!--  <% @campaigns.each do |campaign| %>

    <p><a href="/sources/<%=@site.identifier%>/campaigns/<%=campaignn.ame%>"><%=campaign.name%></a></p>
    <% end %> -->

  </div>
</div>
