<h2>Campaign Analytics Summary</h2>

<h3>Identifier: <%= @identifier %></h3>
<p><a href="/sources/<%= @identifier %>">View Application Analytics</a></p>



<div class="row">
  <div class="span8">

    <h5>Campaigns List</h5>

    <table class="table table-bordered table-striped">
      <th>Campaign Name</th>
      <th>Campaign Details Page</th>

      <% @array_of_names.each do |name| %>
      <tr>
        <td><%= name %></td>
        <td>
          <a href="/sources/<%= @identifier %>/campaigns/<%= name %>"><%= name %></a>
        </td>
      </tr>
      <% end %>

    </table>

  </div>
</div>



