<div class="page-header">
  <h3>Event Analytics Summary: <%= params[:identifier] %> </h3>
</div>

<ul class="nav nav-tabs">
  <li> <a href="/sources/<%= params[:identifier] %>">Analytics Summary</a></li>
  <li class="active"><a href="#">Event Analytics</a></li>
  <li><a href="#">URL Analytics</a></li>
</ul>

<h4>Event Statistics for: <%=params[:event_name]%></h4>
<p><a href="/sources/<%= params[:identifier] %>/events"><< View Events Listing</a></p>

<div class="row">
  <div class="span6">

    <h5>Events by Hour of the Day</h5>
    <table class="table table-bordered table-striped">
      <th>Hour</th>
      <th>Count</th>
      <% @grouped_hours.each do |result| %>
      <tr>
        <td><%= result[0] %><br/></td>
        <td class="count_col"><%= result[1] %><br/></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>