<div class="page-header">
  <h3>URL Statistics Detail: <%= params[:identifier] %> </h3>
</div>

<ul class="nav nav-tabs">
  <li> <a href="/sources/<%= params[:identifier] %>">Analytics Summary</a></li>
  <li><a href="#">Event Analytics</a></li>
  <li class="active"><a href="#">URL Analytics</a></li>
  <li> <a href="/sources/<%= params[:identifier] %>/campaigns">Campaigns</a></li>
</ul>

<h4>Url: <%= @path %></h4>

<div class="row">
  <div class="span6">

    <h5>URL Response Times</h5>
    <table class="table table-bordered table-striped">
      <th>URL id</th>
      <th>Response Time</th>
      <% @url_results.each do |result| %>
      <tr>
        <td><%= result[0] %><br/></td>
        <td><%= result[1] %><br/></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>